
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151rem;
}.buy-2-Q1m {
  display: flex;
  flex-direction: column;
  background-color: rgba(113, 174, 193, 0.8299999833);
  box-sizing: border-box;
  padding-bottom: 22.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-ghtb-7wm {
    margin-bottom: 18.7rem;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.7rem 57.3rem 0.6rem 0.1rem;
    width: 100%;
    height: 8rem;
    display: flex;

    .whatsapp-image-2024-02-29-at-0306-1-Bgj {
      width: 23rem;
      height: 6.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .frame-64-iAs {
      flex-shrink: 0;
      margin: 1.2rem 0rem 1.3rem 0rem;
      height: calc(100% - 2.5rem);
      display: flex;
      align-items: center;

      .auto-group-7mom-2xF {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.3rem 3.9rem 0.2rem 0rem;
        height: 100%;

        .nav-item-mQ3 {
          height: 100%;
          font-weight: 400;
          margin-right: 4rem;
          display: flex;
          justify-content: center;
          width: 7.7rem;
          color: rgba(0, 67, 70, 0.8500000238);
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 2.8rem;
          line-height: 1.3025;
          align-items: center;
        }
        .nav-item-Fa7 {
          margin-right: 3.9rem;
          height: 100%;
          color: #000000;
          line-height: 1.3025;
          display: flex;
          width: 14.4rem;
          font-weight: 700;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 2.8rem;
          font-family: DM Sans, 'Source Sans Pro';
        }
        .nav-item-kmm {
          height: 100%;
          font-size: 2.8rem;
          font-weight: 400;
          line-height: 1.3025;
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          width: 15.1rem;
          cursor: pointer;
          color: rgba(0, 67, 70, 0.8500000238);
          font-family: DM Sans, 'Source Sans Pro';
        }
      }
      .nav-item-4nT {
        margin-right: 3.5rem;
        width: 9.3rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;
      }
      .nav-item-coy {
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;
        width: 8.8rem;
      }
    }
  }
  .auto-group-crnx-9ou {
    margin: 0rem 11.2rem 0rem 3.5rem;
    width: calc(100% - 14.7rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .minh-pham-otxadkuh3-i-unsplash-2-V75 {
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-right: 11.3128rem;
      width: 78.1872rem;
      height: 50rem;
      object-fit: cover;
      vertical-align: top;
    }
    .auto-group-qab1-QE3 {
      height: 50.1rem;
      position: relative;
      flex-shrink: 0;
      margin-top: 3.1rem;
      width: 46.8rem;

      .bhk-house-in-keshav-park-7599l-4500-sqft-let-your-dream-of-owning-a-house-come-true-with-keshav-park-it-offers-an-exclusive-range-of-bunglows-in-vastral-vy5 {
        height: 50.1rem;
        position: absolute;
        left: 0;
        top: 0;
        font-family: DM Sans, 'Source Sans Pro';
        width: 46.8rem;
        font-weight: 700;
        line-height: 1.3025;
        color: #000000;
        font-size: 3.2rem;
      }
      .group-112-myh {
        width: 28.0537rem;
        height: 6.4911rem;
        font-size: 2.8rem;
        color: #000000;
        line-height: 1.3025;
        align-items: center;
        background-color: #ffffff;
        border-radius: 1.8rem;
        top: 37.7rem;
        font-weight: 700;
        font-family: DM Sans, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        white-space: nowrap;
      }
    }
  }
}
