
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151rem;
}.buy-EuM {
  display: flex;
  flex-direction: column;
  background-color: rgba(113, 174, 193, 0.8299999833);
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .group-100-xaT {
    height: 7.4rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-right: 55.05rem;
    width: 100%;

    .whatsapp-image-2024-02-29-at-0306-1-Gr3 {
      height: 6.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.75rem 0.7rem 0rem;
      width: 23rem;
    }
    .frame-63-mXu {
      margin: 1.562rem 0rem 1.638rem 0rem;
      height: calc(100% - 3.2rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-nbh9-Vio {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.3rem 4rem 0.2rem 0rem;
        height: 100%;

        .nav-item-2Tq {
          width: 7.9rem;
          color: rgba(0, 67, 70, 0.8500000238);
          flex-shrink: 0;
          margin-right: 4rem;
          height: 100%;
          cursor: pointer;
          font-size: 2.8rem;
          font-weight: 500;
          line-height: 1.3025;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
        .home-vJK {
          line-height: 1.3025;
          color: #000000;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.9rem;
          font-size: 2.8rem;
          font-weight: 700;
        }
        .nav-item-FrP {
          height: 100%;
          cursor: pointer;
          font-size: 2.8rem;
          line-height: 1.3025;
          display: flex;
          width: 15.4rem;
          font-weight: 500;
          color: rgba(0, 67, 70, 0.8500000238);
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
        }
      }
      .nav-item-MeX {
        margin-right: 3.5rem;
        width: 9.3rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;
      }
      .nav-item-HHH {
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;
        width: 8.8rem;
      }
    }
  }
  .auto-group-obyj-zhV {
    padding: 8.4rem 6.432rem 0rem 4.6rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .group-102-8Hu {
      display: flex;
      align-items: center;
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin: 0rem 0rem 3.5rem 0.2rem;
      box-sizing: border-box;
      padding-right: 0rem;

      .minh-pham-otxadkuh3-i-unsplash-1-FtK {
        flex-shrink: 0;
        margin-right: 7.8rem;
        width: 42.7876rem;
        height: 45rem;
        cursor: pointer;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.5rem;
      }
      .spacejoy-gqqyh0ynqlk-unsplash-1-Ze7 {
        flex-shrink: 0;
        margin-right: 7.8rem;
        width: 40.7283rem;
        height: 45rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.5rem;
      }
      .adam-winger-38llq3hto3a-unsplash-1-Um5 {
        width: 40.652rem;
        height: 45rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.5rem;
        flex-shrink: 0;
      }
    }
    .auto-group-kfuy-zDd {
      flex-shrink: 0;
      margin-right: 1.1679rem;
      display: flex;
      align-items: flex-start;

      .bhk-house-in-keshav-park-7599l-4500-sqft-let-your-dream-of-owning-a-house-come-true-with-keshav-park-it-offers-an-exclusive-range-of-bunglows-in-vastral-XjM {
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 7.5rem;
        max-width: 42.9rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.3025;
        color: #000000;
      }
      .bhk-house-in-vrundavan-recidency-125cr-6000-sqft-let-your-dream-of-owning-a-house-come-true-with-vrundavan-recidency-it-offers-an-exclusive-range-of-bunglows-in-vastral-mtb {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.3025;
        color: #000000;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 9.4rem;
        max-width: 39.5rem;
      }
      .bhk-house-in-tulsi-bunglows-95l-5280-sqft-let-your-dream-of-owning-a-house-come-true-with-vrundavan-recidency-it-offers-an-exclusive-range-of-bunglows-in-vastral-DVh {
        line-height: 1.3025;
        color: #000000;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 39.5rem;
        font-size: 2.4rem;
        font-weight: 700;
      }
    }
  }
}
