
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.1rem;
}.home-GMD {
  width: 100%;
  height: 463.5rem;

  .home-Hn7 {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .auto-group-vke3-C1u {
      width: 158.5rem;
      height: 103.8rem;
      position: absolute;
      left: -1.7rem;
      top: 0;

      .rectangle-62-TTd {
        position: absolute;
        left: 1.7rem;
        top: 0;
        background-color: #ffffff;
        width: 151.1rem;
        height: 8rem;
      }
      .rectangle-57-jvw {
        width: 151rem;
        height: 96.1rem;
        position: absolute;
        left: 1.7rem;
        top: 7.7rem;
        object-fit: cover;
        vertical-align: top;
      }
      .group-98-Tc3 {
        align-items: center;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        height: 4.696rem;
        left: 109.7rem;
        top: 16.3rem;
        display: flex;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 10rem;
        padding: 0.48rem 0.77rem 0.572rem 1.637rem;
        width: 36.1rem;
        position: absolute;

        .search-for-apartments-or-houses-to-stay-iH5 {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3.739rem 0.018rem 0rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
        }
        .frame-35-ZoV {
          vertical-align: top;
          border-radius: 10rem;
          flex-shrink: 0;
          width: 3.7544rem;
          height: 3.6448rem;
          object-fit: contain;
        }
      }
      .group-115-2SB {
        width: 59.5074rem;
        height: 4.2rem;
        position: absolute;
        left: 23.7rem;
        top: 2.4rem;
        display: flex;
        align-items: center;

        .auto-group-inz3-MDZ {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-right: 3.1681rem;
          height: 100%;
          display: flex;
          align-items: flex-start;

          .home-tDV {
            font-weight: 700;
            line-height: 1.3025;
            color: #000000;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.9107rem;
            font-size: 2.8rem;
          }
          .nav-item-vpP {
            color: rgba(0, 67, 70, 0.8500000238);
            white-space: nowrap;
            cursor: pointer;
            font-size: 2.8rem;
            font-weight: 500;
            line-height: 1.3025;
            font-family: DM Sans, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 3.64rem 0.5rem 0rem;
            width: 14.4674rem;
          }
          .nav-item-odH {
            line-height: 1.3025;
            color: rgba(0, 67, 70, 0.8500000238);
            margin-bottom: 0.5rem;
            font-weight: 500;
            font-size: 2.8rem;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            width: 16.0142rem;
            cursor: pointer;
          }
        }
        .auto-group-pgw1-tud {
          position: relative;
          flex-shrink: 0;
          width: 10.2074rem;
          height: 100%;

          .nav-item-qps {
            cursor: pointer;
            position: absolute;
            left: 0.4714rem;
            top: 0;
            width: 9.7359rem;
            height: 4.2rem;
          }
          .nav-item-As9 {
            cursor: pointer;
            position: absolute;
            left: 0;
            font-size: 2.8rem;
            line-height: 1.3025;
            color: rgba(0, 67, 70, 0.8500000238);
            width: 8.553rem;
            height: 3.7rem;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            top: 0;
            font-weight: 500;
          }
        }
      }
      .we-help-people-find-their-dream-house-TbM {
        height: 12.6rem;
        position: absolute;
        top: 11.85rem;
        display: flex;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.3025;
        width: 46.5rem;
        left: 54.6rem;
        color: #d3e0dc;
        font-family: DM Sans, 'Source Sans Pro';
      }
      .group-99-wFd {
        top: 2.1467rem;
        display: flex;
        align-items: flex-start;
        width: 19.8881rem;
        height: 3.8789rem;
        position: absolute;
        left: 126.1476rem;

        .log-in-eQw {
          cursor: pointer;
          font-weight: 700;
          color: #000000;
          margin-right: 0.7787rem;
          font-size: 2.8rem;
          line-height: 1.3025;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .line-1-YFR {
          height: 3.3595rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.049rem 1.609rem 0rem 0rem;
          width: 0;
        }
        .signup-3xs {
          font-size: 2.8rem;
          line-height: 1.3025;
          margin-top: 0.1789rem;
          cursor: pointer;
          font-weight: 700;
          color: #000000;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .whatsapp-image-2024-02-29-at-0306-1-AGo {
        position: absolute;
        left: 0;
        top: 0.7rem;
        object-fit: cover;
        vertical-align: top;
        width: 23rem;
        height: 6.7rem;
      }
    }
    .auto-group-z9y1-sBD {
      position: absolute;
      left: -4.7rem;
      top: 121.6rem;
      width: 170.3rem;
      height: 222.6rem;

      .group-114-zFq {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 149.1rem;
        height: 100%;

        .auto-group-m9rx-879 {
          height: 73.5rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0.5rem 18.1rem 0rem;
          width: calc(100% - 0.5rem);

          .auto-group-efzy-Sdd {
            flex-shrink: 0;
            margin-right: 1.8rem;
            width: 89.1rem;
            height: 100%;
            position: relative;

            .rectangle-59-ZTM {
              width: 82rem;
              height: 73.5rem;
              position: absolute;
              left: 7.1rem;
              top: 0;
              background-color: #e7d8c7;
              border-radius: 0 2rem 2rem 0;
            }
            .pixasquare-4ojhpgkps68-unsplash-1-U4X {
              vertical-align: top;
              border-radius: 3rem;
              width: 89.1rem;
              height: 73.5rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
            }
          }
          .auto-group-itbq-BDq {
            height: calc(100% - 6.4rem);
            flex-shrink: 0;
            margin: 2.7rem 0rem 3.7rem 0rem;
            width: 57.7rem;

            .group-47-tP9 {
              margin-bottom: 4.6rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .rent-out-your-favourite-property-319 {
                font-size: 6.4rem;
                letter-spacing: 0.0192rem;
                color: #000000;
                font-family: DM Sans, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 5.9rem;
                max-width: 57.7rem;
                font-weight: 700;
                line-height: 1.3025;
              }
              .we-seek-out-properties-that-can-produce-a-regular-predictable-return-on-investment-as-well-as-the-potential-for-capital-appreciation-we-also-take-the-time-to-ensure-that-any-properties-we-offer-are-high-quality-safe-and-secure-investments-6k7 {
                letter-spacing: 0.015rem;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 50.9rem;
                font-size: 3rem;
                font-weight: 400;
                line-height: 1.35;
              }
            }
            .explore-qbD {
              margin-left: 2rem;
              width: 26.8rem;
              height: 7.5rem;
              cursor: pointer;

              .explore-Nr3 {
                color: #878987;
                white-space: nowrap;
                font-weight: 600;
                line-height: 1.5;
                align-items: center;
                border-radius: 10rem;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                font-size: 2.5rem;
                letter-spacing: 0.0125rem;
                font-family: Poppins, 'Source Sans Pro';
                border: solid 0.1rem #000000;
                box-sizing: border-box;
              }
            }
          }
        }
        .auto-group-kufq-3BV {
          position: relative;
          flex-shrink: 0;
          width: 137.5rem;
          height: 131rem;

          .over-a-decade-were-still-exist-NjZ {
            top: 79.6rem;
            font-size: 6.4rem;
            letter-spacing: 0.0192rem;
            font-family: DM Sans, 'Source Sans Pro';
            width: 94rem;
            left: 21.7171rem;
            text-align: center;
            font-weight: 700;
            line-height: 1.3025;
            color: #000000;
            white-space: nowrap;
            height: 8.4rem;
            position: absolute;
          }
          .item-10-E15 {
            width: 9.1rem;
            height: 7.2rem;
            top: 101.7rem;
            font-weight: 700;
            color: #878987;
            font-family: DM Sans, 'Source Sans Pro';
            position: absolute;
            left: 7.2rem;
            font-size: 5.5rem;
            line-height: 1.3025;
            white-space: nowrap;
          }
          .years-experience-XF5 {
            display: flex;
            font-size: 2.5rem;
            height: 6.1rem;
            position: absolute;
            top: 102.9rem;
            line-height: 1.2125;
            color: #878987;
            font-family: Inter, 'Source Sans Pro';
            width: 11.6rem;
            left: 17.4rem;
            font-weight: 400;
          }
          .group-57-2r3 {
            top: 101.8rem;
            display: flex;
            align-items: flex-end;
            width: 26.8745rem;
            height: 7.2rem;
            position: absolute;
            left: 36.6097rem;

            .item-350-xjh {
              color: #878987;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 2.7745rem;
              font-size: 5.5rem;
              font-weight: 700;
              line-height: 1.3025;
            }
            .property-sold-ttF {
              display: flex;
              font-size: 2.5rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #878987;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 10.3rem;
            }
          }
          .group-58-dL3 {
            left: 72.3853rem;
            top: 101.8rem;
            display: flex;
            align-items: flex-end;
            width: 28.8028rem;
            height: 7.2rem;
            position: absolute;

            .k-Aas {
              line-height: 1.3025;
              color: #878987;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 2.5028rem;
              font-size: 5.5rem;
              font-weight: 700;
            }
            .loyal-customers-6jR {
              color: #878987;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 12.5rem;
              display: flex;
              font-size: 2.5rem;
              font-weight: 400;
              line-height: 1.2125;
            }
          }
          .group-59-SHV {
            height: 7.2rem;
            position: absolute;
            left: 107.8892rem;
            top: 101.8rem;
            display: flex;
            align-items: flex-end;
            width: 23.6268rem;

            .item-21-mqZ {
              margin-right: 2.2268rem;
              font-size: 5.5rem;
              font-weight: 700;
              line-height: 1.3025;
              color: #878987;
              font-family: DM Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .certified-and-awarded-7Pd {
              max-width: 16.2rem;
              display: flex;
              font-size: 2.5rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #878987;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .what-we-offer-to-our-customers-ePZ {
            position: absolute;
            left: 17.2rem;
            text-align: center;
            letter-spacing: 0.0192rem;
            white-space: nowrap;
            color: #000000;
            font-family: DM Sans, 'Source Sans Pro';
            width: 103.1rem;
            height: 8.4rem;
            top: 122.6rem;
            font-size: 6.4rem;
            font-weight: 700;
            line-height: 1.3025;
          }
          .group-117-8Zd {
            width: 137.5rem;
            height: 64.7rem;
            top: 0;
            display: flex;
            border-radius: 1.5rem;
            position: absolute;
            left: 0;
            align-items: center;
            flex-direction: column;

            .group-88-fJf {
              width: calc(100% - 64.7rem);
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0rem 33.25rem 7rem 31.45rem;

              .featured-properties-z63 {
                font-weight: 700;
                line-height: 1.3025;
                letter-spacing: 0.0192rem;
                flex-shrink: 0;
                margin: 0rem 0.1rem 4.8rem 0rem;
                text-align: center;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 6.4rem;
                color: #000000;
              }
              .the-well-furnished-home-and-apartments-are-available-gDm {
                text-align: center;
                font-weight: 400;
                line-height: 1.2125;
                white-space: nowrap;
                font-size: 2.8rem;
                letter-spacing: 0.014rem;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
            .group-102-9t3 {
              width: 100%;
              display: flex;
              column-gap: 4.1282rem;
              align-items: center;
              border-radius: 1.5rem;
              flex-shrink: 0;

              .minh-pham-otxadkuh3-i-unsplash-1-h8s {
                vertical-align: top;
                border-radius: 1.5rem;
                flex-shrink: 0;
                width: 44.5367rem;
                height: 41.1rem;
                cursor: pointer;
                object-fit: cover;
              }
              .spacejoy-gqqyh0ynqlk-unsplash-1-QZ5 {
                width: 42.3932rem;
                height: 41.1rem;
                cursor: pointer;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1.5rem;
                flex-shrink: 0;
              }
              .adam-winger-38llq3hto3a-unsplash-1-vnK {
                cursor: pointer;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1.5rem;
                flex-shrink: 0;
                width: 42.3138rem;
                height: 41.1rem;
              }
            }
          }
        }
      }
    }
    .group-109-RDH {
      position: absolute;
      left: 2.4rem;
      top: 353.7rem;
      display: flex;
      align-items: center;
      width: 144.7rem;
      height: 52.4rem;

      .cards-Z4b {
        width: 45.603rem;
        height: 100%;
        cursor: pointer;
        position: relative;
        flex-shrink: 0;

        .rectangle-56-6aK {
          width: 45rem;
          left: 0;
          background-color: rgba(113, 174, 193, 0.4799999893);
          box-sizing: border-box;
          border-radius: 1.5rem;
          height: 46.4rem;
          position: absolute;
          top: 5.5rem;
          border: solid 0.1rem rgba(0, 0, 0, 0.5699999928);
        }
        .rent-buy-zQo {
          white-space: nowrap;
          position: absolute;
          left: 12.7rem;
          font-size: 3.6rem;
          font-weight: 700;
          font-family: DM Sans, 'Source Sans Pro';
          letter-spacing: 0.0108rem;
          color: #878987;
          width: 19.5rem;
          height: 4.7rem;
          top: 19.5rem;
          text-align: center;
          line-height: 1.3025;
        }
        .we-buy-rent-your-home-or-we-find-your-desired-home-to-invest-or-buy-h4K {
          color: #353a40;
          font-family: Inter, 'Source Sans Pro';
          height: 9.6rem;
          position: absolute;
          left: 6.45rem;
          text-align: center;
          font-weight: 400;
          width: 32.1rem;
          top: 27.8rem;
          font-size: 2.4rem;
          line-height: 1.3200000127;
          letter-spacing: 0.0072rem;
        }
        .rent-ZsD {
          height: 15.5rem;
          left: 14.7rem;
          border-radius: 7.75rem;
          box-sizing: border-box;
          padding: 3.8rem 3.7rem 3.7rem 3.8rem;
          width: 15.5rem;
          position: absolute;
          top: 0;
          background-color: #e8e8e8;

          .group-51-ssu {
            object-fit: contain;
            vertical-align: top;
            width: 8rem;
            height: 8rem;
          }
        }
      }
      .auto-group-pfct-nEB {
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 4.297rem;
        height: 100%;
        display: flex;

        .cards-guarantee-KV1 {
          margin-right: 4.8rem;
          width: 45rem;
          height: 51.9rem;
          cursor: pointer;
          position: relative;
          flex-shrink: 0;

          .rectangle-56-FNf {
            border-radius: 1.5rem;
            width: 45rem;
            height: 46.4rem;
            left: 0;
            border: solid 0.1rem rgba(0, 0, 0, 0.5699999928);
            box-sizing: border-box;
            background-color: #bbd8e1;
            position: absolute;
            top: 5.5rem;
          }
          .guarantee-mM1 {
            left: 7.7rem;
            font-size: 3.6rem;
            line-height: 1.3025;
            letter-spacing: 0.0108rem;
            position: absolute;
            height: 4.7rem;
            top: 19.5rem;
            text-align: center;
            font-weight: 700;
            color: #878987;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            width: 29.5rem;
          }
          .we-buy-rent-your-home-or-we-find-your-desired-home-to-invest-or-buy-rtF {
            text-align: center;
            font-weight: 400;
            line-height: 1.3300000827;
            letter-spacing: 0.0072rem;
            font-size: 2.4rem;
            color: #353a40;
            font-family: Inter, 'Source Sans Pro';
            width: 32.2rem;
            height: 6.4rem;
            position: absolute;
            left: 6.4rem;
            top: 27.8rem;
          }
          .rent-L2j {
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 15.5rem;
            height: 15.5rem;
            position: absolute;
            left: 14.7rem;
          }
          .group-FQb {
            vertical-align: top;
            width: 7.2858rem;
            height: 7.9995rem;
            position: absolute;
            left: 16.8483rem;
            top: 3.7rem;
            object-fit: contain;
          }
        }
        .cards-sale-Y8o {
          width: 45rem;
          height: 51.9rem;
          cursor: pointer;
          position: relative;
          flex-shrink: 0;

          .rectangle-56-G4o {
            border-radius: 1.5rem;
            width: 45rem;
            position: absolute;
            left: 0;
            border: solid 0.1rem rgba(0, 0, 0, 0.5699999928);
            box-sizing: border-box;
            background-color: #bbd8e1;
            height: 46.4rem;
            top: 5.5rem;
          }
          .exclusive-sale-NNj {
            top: 19.5rem;
            color: #878987;
            font-family: DM Sans, 'Source Sans Pro';
            text-align: center;
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 1.3025;
            width: 24.9rem;
            height: 4.7rem;
            position: absolute;
            left: 10rem;
            letter-spacing: 0.0108rem;
            white-space: nowrap;
          }
          .we-buy-rent-your-home-or-we-find-your-desired-home-to-invest-or-buy-UAs {
            text-align: center;
            font-size: 2.4rem;
            letter-spacing: 0.0072rem;
            color: #353a40;
            height: 8.8rem;
            position: absolute;
            top: 27.8rem;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            width: 31.9rem;
            left: 6.55rem;
          }
          .rent-ku5 {
            vertical-align: top;
            width: 15.5rem;
            height: 15.5rem;
            position: absolute;
            left: 14.7rem;
            top: 0;
            object-fit: contain;
          }
          .group-52-JQo {
            top: 3.7rem;
            object-fit: contain;
            vertical-align: top;
            width: 8rem;
            height: 8rem;
            position: absolute;
            left: 18.4rem;
          }
        }
      }
    }
    .log-in-variant2-RVR {
      position: absolute;
      left: 121.8rem;
      top: 4.9rem;
      width: 9.3rem;
      height: 4.2rem;
    }
    .auto-group-kshd-YK9 {
      width: 151.1rem;
      height: 46.2rem;
      position: absolute;
      left: 0;
      top: 417.3rem;
      background-color: #f6f6f6;

      .group-118-Ehm {
        top: 3.7rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 142.0027rem;
        height: 40.9482rem;
        position: absolute;
        left: 5.0973rem;

        .auto-group-nkbu-AbR {
          height: 32.395rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 1.663rem 3.325rem 45.263rem;
          width: calc(100% - 46.9262rem);

          .group-43-g3y {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;

            .quick-links-RGT {
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 1.175;
              color: #0fb3af;
              font-family: Maven Pro, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 3.0532rem;
            }
            .review-a-property-wkb {
              flex-shrink: 0;
              margin: 0rem 0rem 2.408rem 1.109rem;
              font-size: 1.7rem;
              font-weight: 400;
              line-height: 1.3625;
              color: #3c3c3b;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
            .articles-rsZ {
              color: #3c3c3b;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 2.408rem 1.109rem;
              font-size: 1.7rem;
              font-weight: 400;
              line-height: 1.3625;
            }
            .about-us-Pcb {
              line-height: 1.3625;
              color: #3c3c3b;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 2.408rem 1.109rem;
              font-size: 1.7rem;
              font-weight: 400;
            }
            .contact-us-Km9 {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 2.408rem 1.109rem;
              font-size: 1.7rem;
              font-weight: 400;
              line-height: 1.3625;
              color: #3c3c3b;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .terms-conditions-e2j {
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 2.408rem 1.109rem;
              font-size: 1.7rem;
              font-weight: 400;
              line-height: 1.3625;
              color: #3c3c3b;
            }
            .privacy-policy-7h1 {
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-left: 1.1094rem;
              font-size: 1.7rem;
              font-weight: 400;
              line-height: 1.3625;
              color: #3c3c3b;
            }
          }
          .auto-group-jswr-rPh {
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-left: 20.0226rem;

            .group-44-bcB {
              margin-right: 18.6994rem;
              width: 24.3452rem;
              flex-shrink: 0;

              .auto-group-dgas-wvw {
                flex-direction: column;
                box-sizing: border-box;
                padding: 0rem 0.073rem 3.437rem 0.073rem;
                width: 100%;
                display: flex;

                .auto-group-ym2o-tLP {
                  margin-bottom: 3.0532rem;
                  width: 15.4rem;
                  height: 2.9rem;
                  position: relative;
                  flex-shrink: 0;

                  .stay-in-touch-2hV {
                    white-space: nowrap;
                    height: 2.9rem;
                    left: 0rem;
                    top: 0;
                    font-weight: 700;
                    color: #0fb3af;
                    width: 15.4rem;
                    position: absolute;
                    font-size: 2.4rem;
                    line-height: 1.175;
                    font-family: Maven Pro, 'Source Sans Pro';
                  }
                  .stay-in-touch-w3m {
                    font-size: 2.4rem;
                    width: 15.4rem;
                    position: absolute;
                    top: 0;
                    line-height: 1.175;
                    color: #0fb3af;
                    font-family: Maven Pro, 'Source Sans Pro';
                    white-space: nowrap;
                    height: 2.9rem;
                    left: 0;
                    font-weight: 700;
                  }
                }
                .group-39-rRd {
                  margin-left: 0rem;
                  width: 16.8719rem;
                  height: 2.6306rem;
                  position: relative;
                  flex-shrink: 0;

                  .item-012-9638595661-CEb {
                    line-height: 1.3625;
                    width: 13.1rem;
                    position: absolute;
                    left: 3.7719rem;
                    top: 0;
                    font-weight: 400;
                    height: 2.4rem;
                    font-size: 1.7rem;
                    color: #3c3c3b;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .group-24-fP5 {
                    position: absolute;
                    left: 0;
                    top: 0.3435rem;
                    object-fit: contain;
                    vertical-align: top;
                    width: 2.2188rem;
                    height: 2.2872rem;
                  }
                  .group-39-akw {
                    width: 16.872rem;
                    height: 2.6306rem;
                    position: absolute;
                    left: -0rem;
                    top: 0;
                    display: flex;
                    align-items: flex-end;

                    .group-24-KTd {
                      flex-shrink: 0;
                      margin-right: 1.5532rem;
                      width: 2.2188rem;
                      height: 2.2872rem;
                      object-fit: contain;
                      vertical-align: top;
                    }
                    .item-012-9638595661-4RD {
                      flex-shrink: 0;
                      margin-bottom: 0.2306rem;
                      font-size: 1.7rem;
                      font-weight: 400;
                      line-height: 1.3625;
                      color: #3c3c3b;
                      font-family: Open Sans, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                  }
                }
              }
              .group-40-Az3 {
                margin-bottom: 3.6677rem;
                width: 100%;
                display: flex;
                align-items: flex-end;

                .auto-group-cgjb-uwd {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.521rem 0rem 0rem;
                  width: 2.3243rem;
                  height: 1.8271rem;
                  position: relative;
                  object-fit: contain;
                }
                .infoturakhiahomescom-qaP {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.7rem;
                  font-weight: 400;
                  line-height: 1.3625;
                  color: #3c3c3b;
                  font-family: Open Sans, 'Source Sans Pro';
                }
              }
              .group-41-NKR {
                margin-left: 0.2951rem;
                width: 21.7501rem;
                height: 4.7rem;
                position: relative;

                .archibald-st-toowoomba-qld-4350-gb1 {
                  top: 0;
                  font-weight: 400;
                  line-height: 1.3625;
                  color: #3c3c3b;
                  width: 18.2rem;
                  position: absolute;
                  font-size: 1.7rem;
                  font-family: Open Sans, 'Source Sans Pro';
                  height: 4.7rem;
                  left: 3.5501rem;
                }
                .group-LfZ {
                  top: 0.1145rem;
                  object-fit: contain;
                  vertical-align: top;
                  width: 1.7971rem;
                  height: 2.5187rem;
                  position: absolute;
                  left: 0;
                }
                .group-41-fC3 {
                  top: 0;
                  display: flex;
                  align-items: flex-start;
                  width: 21.7501rem;
                  height: 4.7rem;
                  position: absolute;
                  left: -0rem;

                  .group-zk7 {
                    width: 1.7971rem;
                    height: 2.5187rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0.114rem 1.753rem 0rem 0rem;
                  }
                  .archibald-st-toowoomba-qld-4350-7pj {
                    font-size: 1.7rem;
                    font-weight: 400;
                    line-height: 1.3625;
                    color: #3c3c3b;
                    font-family: Open Sans, 'Source Sans Pro';
                    flex-shrink: 0;
                    max-width: 18.2rem;
                  }
                }
              }
            }
            .group-96-dYB {
              width: 15.2rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .connect-with-yc3 {
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 1.175;
                color: #0fb3af;
                font-family: Maven Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 3.0532rem;
              }
              .group-95-6Rm {
                margin: 0rem 1.664rem 0rem 1.109rem;
                width: calc(100% - 2.7734rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .auto-group-6vrq-pMm {
                  margin: 0rem 0.5rem 3.435rem 0.777rem;
                  width: calc(100% - 1.2766rem);
                  display: flex;
                  align-items: flex-end;
                  flex-shrink: 0;

                  .group-LL7 {
                    margin-right: 2.4407rem;
                    width: 1.1094rem;
                    height: 2.2897rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .facebook-3VR {
                    margin-bottom: 0.2332rem;
                    font-size: 1.7rem;
                    font-weight: 400;
                    line-height: 1.3625;
                    color: #3c3c3b;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .auto-group-r2wz-Mm1 {
                  align-items: flex-end;
                  flex-shrink: 0;
                  margin: 0rem 2.5rem 3.664rem 0rem;
                  width: calc(100% - 2.5rem);
                  display: flex;

                  .group-6Th {
                    margin-right: 1.5958rem;
                    width: 2.7308rem;
                    height: 2.2897rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .twitter-qw5 {
                    line-height: 1.3625;
                    color: #3c3c3b;
                    font-family: Open Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.0042rem;
                    font-size: 1.7rem;
                    font-weight: 400;
                  }
                }
                .auto-group-1ay5-Nw1 {
                  align-items: flex-end;
                  flex-shrink: 0;
                  margin-left: 0.2219rem;
                  width: calc(100% - 0.2219rem);
                  display: flex;

                  .group-KbM {
                    margin-right: 1.886rem;
                    width: 2.2188rem;
                    height: 2.2897rem;
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .instagram-Fju {
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.2332rem;
                    font-size: 1.7rem;
                    font-weight: 400;
                    line-height: 1.3625;
                    color: #3c3c3b;
                    font-family: Open Sans, 'Source Sans Pro';
                  }
                }
              }
            }
          }
        }
        .rectangle-72-yfu {
          height: 0.1076rem;
          background-color: #c4c4c4;
          flex-shrink: 0;
          margin-bottom: 3.1202rem;
          width: 100%;
        }
        .turakhia-homes-2020-all-rights-reserved-XSX {
          margin-right: 1.6393rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3625;
          color: #3c3c3b;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .whatsapp-image-2024-02-29-at-0259-2-3Qs {
        position: absolute;
        left: 7.7rem;
        top: 2.6rem;
        object-fit: cover;
        vertical-align: top;
        width: 34.4rem;
        height: 35rem;
      }
    }
  }
}
