
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151rem;
}.log-in-nEB {
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;

  .group-96-XhZ {
    position: relative;
    background-color: rgba(113, 174, 193, 0.8299999833);
    width: 100%;
    height: 102.6rem;

    .rectangle-58-Gf9 {
      object-fit: cover;
      vertical-align: top;
      width: 58.6001rem;
      height: 94.5rem;
      position: absolute;
      left: 92.3999rem;
      top: 8rem;
    }
    .turakhia-homes-nNb {
      line-height: 1.3020000458;
      color: #ffffff;
      width: 31.4rem;
      height: 5.3rem;
      left: 5.1rem;
      top: 3.5rem;
      font-size: 4rem;
      font-weight: 500;
      align-items: baseline;
      position: absolute;
      display: flex;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;

      .turakhia-homes-nNb-sub-0 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.3025;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
      }
      .turakhia-homes-nNb-sub-1 {
        font-weight: 700;
        line-height: 1.3025;
        color: #000000;
        font-family: DM Sans, 'Source Sans Pro';
        font-size: 4rem;
      }
    }
    .group-93-M6F {
      box-sizing: border-box;
      top: 20.15rem;
      font-size: 4.8rem;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      border-bottom: solid 0.1rem #000000;
      padding-left: 0.3rem;
      width: 15.1rem;
      position: absolute;
      left: 40.6rem;
      line-height: 1.3025;
      height: 6.95rem;
      display: flex;
      font-weight: 700;
      color: #d3e0dc;
    }
    .group-95-m9y {
      height: 15.9rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      border-radius: 0.8rem;
      width: 70.1rem;
      position: absolute;
      left: 12.3rem;
      top: 38.1rem;

      .auto-group-8vts-Uq5 {
        flex-shrink: 0;
        margin-bottom: 3.2099rem;
        width: 100%;
        height: 6.3451rem;
        display: flex;
        align-items: center;

        .username--REX {
          font-weight: 700;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 1.128rem 0.075rem 0rem;
          display: flex;
          color: #000000;
          font-family: DM Sans, 'Source Sans Pro';
          font-size: 4.4rem;
          line-height: 1.3025;
        }
        .auto-group-crux-XHZ {
          padding: 4.999rem 2.693rem 1.246rem 2.293rem;
          width: 44.872rem;
          height: 100%;
          background-color: #ffffff;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .line-3-SvK {
            height: 0.1rem;
            background-color: #000000;
            width: 100%;
          }
        }
      }
      .auto-group-loef-BN7 {
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 6.3451rem;
        display: flex;

        .password--jPd {
          margin: 0rem 1.328rem 0.075rem 0rem;
          font-size: 4.4rem;
          font-weight: 700;
          color: #000000;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          line-height: 1.3025;
          flex-shrink: 0;
        }
        .auto-group-vnby-SYw {
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 5.188rem 2.596rem 1.057rem 2.39rem;
          width: 44.872rem;
          height: 100%;
          background-color: #ffffff;

          .line-4-mLK {
            width: 100%;
            height: 0.1rem;
            background-color: #000000;
          }
        }
      }
    }
    .group-97-SxF {
      left: 29.4rem;
      top: 65.55rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 32.5rem;
      height: 12.4rem;
      position: absolute;

      .auto-group-brg3-ZX5 {
        margin-bottom: 3.95rem;
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .new-user--VvX {
          white-space: nowrap;
          margin: 0.05rem 1.1rem 0rem 0rem;
          display: flex;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.3025;
          font-family: DM Sans, 'Source Sans Pro';
          color: #000000;
          flex-shrink: 0;
        }
        .line-5-cVM {
          margin: 0.05rem 2.7rem 0rem 0rem;
          width: 0.1rem;
          height: 2.6rem;
          background-color: #ffffff;
          flex-shrink: 0;
        }
        .sign-up-LgF {
          font-size: 3.2rem;
          line-height: 1.3025;
          font-family: DM Sans, 'Source Sans Pro';
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.05rem;
          cursor: pointer;
          display: flex;
          font-weight: 700;
        }
      }
      .forgot-password-FoD {
        cursor: pointer;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.3025;
        color: #000000;
        margin-left: 2.9rem;
        display: flex;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .rectangle-63-mmZ {
      width: 151rem;
      height: 8rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #ffffff;
    }
    .group-113-KHH {
      height: 5.5rem;
      cursor: pointer;
      position: absolute;
      left: 142.3rem;
      top: 1.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.5rem;
    }
  }
}
