
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.rent-2-gx7 {
  flex-direction: column;
  background-color: rgba(113, 174, 193, 0.8299999833);
  box-sizing: border-box;
  padding-bottom: 27.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .auto-group-oi47-pHd {
    flex-shrink: 0;
    margin-bottom: 13.8rem;
    width: 100%;
    display: flex;
    align-items: flex-start;

    .auto-group-aqur-AMV {
      margin-right: 34.2rem;
      box-sizing: border-box;
      padding: 0.7rem 49.4rem 0.6rem 0rem;
      height: 8rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      flex-shrink: 0;

      .whatsapp-image-2024-02-29-at-0306-3-5DZ {
        width: 23rem;
        height: 6.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .frame-64-Pzw {
        align-items: center;
        flex-shrink: 0;
        margin: 1.2rem 0rem 1.3rem 0rem;
        height: calc(100% - 2.5rem);
        display: flex;

        .auto-group-m8nj-7vw {
          padding: 0.3rem 3.8rem 0.2rem 0rem;
          height: 100%;
          display: flex;
          column-gap: 4rem;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;

          .nav-item-EVm {
            color: rgba(0, 67, 70, 0.8500000238);
            display: flex;
            width: 7.7rem;
            height: 100%;
            cursor: pointer;
            line-height: 1.3025;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            font-size: 2.8rem;
            font-weight: 400;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .nav-item-Xjm {
            width: 13.9rem;
            height: 100%;
            font-weight: 500;
            line-height: 1.3025;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            font-size: 2.8rem;
            color: rgba(0, 67, 70, 0.8500000238);
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .nav-item-dH1 {
            cursor: pointer;
            font-size: 2.8rem;
            font-weight: 700;
            line-height: 1.3025;
            color: #000000;
            display: flex;
            align-items: center;
            width: 15.9rem;
            flex-shrink: 0;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            height: 100%;
          }
        }
        .nav-item-LhD {
          flex-shrink: 0;
          margin-right: 3.5rem;
          width: 9.3rem;
          height: 100%;
          cursor: pointer;
        }
        .nav-item-V4K {
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;
          width: 8.8rem;
        }
      }
    }
    .group-107-Rif {
      cursor: pointer;
      position: relative;
      flex-shrink: 0;
      margin-top: 2.2rem;
      width: 6.5574rem;
      height: 8.7rem;

      .group-105-kkw {
        box-sizing: border-box;
        padding: 1.582rem 1.608rem 1.624rem 1.565rem;
        height: 6.6262rem;
        position: absolute;
        left: 0;
        top: 0;
        background-position: center;
        width: 6.5574rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:2184:105');

        .vector-s4s {
          width: 3.3845rem;
          height: 3.42rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .home-oDR {
        position: absolute;
        top: 6.6rem;
        line-height: 1.3025;
        color: #000000;
        font-family: DM Sans, 'Source Sans Pro';
        width: 4.4rem;
        height: 2.1rem;
        left: 1.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        white-space: nowrap;
      }
    }
  }
  .auto-group-4p95-6CX {
    width: calc(100% - 10.3rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 7.4rem 0rem 2.9rem;

    .spacejoy-gqqyh0ynqlk-unsplash-1-cRm {
      width: 79.6667rem;
      height: 50rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-right: 5.3333rem;
    }
    .auto-group-uzct-Kqy {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .bhk-bunglow-for-rent-in-vastral-55000-month-4000-sqft-2-month-deposite-carpet-area-new-6-bhk-luxurious-bunglow-is-available-for-rent-in-vastralahmedabad-54T {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.3025;
        color: #000000;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 13.6rem;
        max-width: 48.7rem;
      }
      .group-113-KUb {
        width: 28.0537rem;
        align-items: center;
        font-weight: 700;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 1.8rem;
        font-size: 2.8rem;
        line-height: 1.3025;
        background-color: #ffffff;
        height: 6.4911rem;
        color: #000000;
        display: flex;
        justify-content: center;
        flex-shrink: 0;
      }
    }
  }
}
