
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151rem;
}.buy-2-Q1m {
  box-sizing: border-box;
  padding-bottom: 22.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(113, 174, 193, 0.8299999833);
}
.buy-2-Q1m .auto-group-ghtb-7wm {
  margin-bottom: 18.7rem;
  box-sizing: border-box;
  padding: 0.7rem 57.3rem 0.6rem 0.1rem;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.buy-2-Q1m .auto-group-ghtb-7wm .whatsapp-image-2024-02-29-at-0306-1-Bgj {
  width: 23rem;
  height: 6.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.buy-2-Q1m .auto-group-ghtb-7wm .frame-64-iAs {
  margin: 1.2rem 0rem 1.3rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.buy-2-Q1m .auto-group-ghtb-7wm .frame-64-iAs .auto-group-7mom-2xF {
  box-sizing: border-box;
  padding: 0.3rem 3.9rem 0.2rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.buy-2-Q1m .auto-group-ghtb-7wm .frame-64-iAs .auto-group-7mom-2xF .nav-item-mQ3 {
  margin-right: 4rem;
  width: 7.7rem;
  height: 100%;
  cursor: pointer;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.3025;
  color: rgba(0, 67, 70, 0.8500000238);
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.buy-2-Q1m .auto-group-ghtb-7wm .frame-64-iAs .auto-group-7mom-2xF .nav-item-Fa7 {
  margin-right: 3.9rem;
  width: 14.4rem;
  height: 100%;
  cursor: pointer;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.3025;
  color: #000000;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.buy-2-Q1m .auto-group-ghtb-7wm .frame-64-iAs .auto-group-7mom-2xF .nav-item-kmm {
  width: 15.1rem;
  height: 100%;
  cursor: pointer;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.3025;
  color: rgba(0, 67, 70, 0.8500000238);
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.buy-2-Q1m .auto-group-ghtb-7wm .frame-64-iAs .nav-item-4nT {
  margin-right: 3.5rem;
  width: 9.3rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.buy-2-Q1m .auto-group-ghtb-7wm .frame-64-iAs .nav-item-coy {
  width: 8.8rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.buy-2-Q1m .auto-group-crnx-9ou {
  margin: 0rem 11.2rem 0rem 3.5rem;
  width: calc(100% - 14.7rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.buy-2-Q1m .auto-group-crnx-9ou .minh-pham-otxadkuh3-i-unsplash-2-V75 {
  margin-right: 11.3128rem;
  width: 78.1872rem;
  height: 50rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.buy-2-Q1m .auto-group-crnx-9ou .auto-group-qab1-QE3 {
  margin-top: 3.1rem;
  width: 46.8rem;
  height: 50.1rem;
  position: relative;
  flex-shrink: 0;
}
.buy-2-Q1m .auto-group-crnx-9ou .auto-group-qab1-QE3 .bhk-house-in-keshav-park-7599l-4500-sqft-let-your-dream-of-owning-a-house-come-true-with-keshav-park-it-offers-an-exclusive-range-of-bunglows-in-vastral-vy5 {
  width: 46.8rem;
  height: 50.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.3025;
  color: #000000;
  font-family: DM Sans, 'Source Sans Pro';
}
.buy-2-Q1m .auto-group-crnx-9ou .auto-group-qab1-QE3 .group-112-myh {
  width: 28.0537rem;
  height: 6.4911rem;
  position: absolute;
  left: 0;
  top: 37.7rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.3025;
  color: #000000;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 1.8rem;
}
