
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.forgot-password-CWb {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: rgba(113, 174, 193, 0.8299999833);
}
.forgot-password-CWb .auto-group-s4zu-YaT {
  margin-right: 29.6rem;
  width: 148rem;
  height: 102.5rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.forgot-password-CWb .auto-group-s4zu-YaT .auto-group-kzit-t8X {
  box-sizing: border-box;
  padding: 0.5rem 6rem 0.8rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.forgot-password-CWb .auto-group-s4zu-YaT .auto-group-kzit-t8X .whatsapp-image-2024-02-29-at-0306-1-caK {
  margin-right: 113.5rem;
  width: 23rem;
  height: 6.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.forgot-password-CWb .auto-group-s4zu-YaT .auto-group-kzit-t8X .group-113-w6o {
  margin-top: 0.4rem;
  width: 5.5rem;
  height: 5.5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.forgot-password-CWb .auto-group-s4zu-YaT .auto-group-j9lt-Taw {
  margin: 0rem 4rem 0rem 18rem;
  width: calc(100% - 22rem);
  height: 94.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.forgot-password-CWb .auto-group-s4zu-YaT .auto-group-j9lt-Taw .group-101-BG3 {
  margin: 19.1rem 11.1rem 27.1rem 0rem;
  box-sizing: border-box;
  padding: 8.392rem 8.148rem 5.669rem 8.2rem;
  width: 60.9rem;
  height: calc(100% - 46.2rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.8rem #000000;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 1.8rem;
  flex-shrink: 0;
}
.forgot-password-CWb .auto-group-s4zu-YaT .auto-group-j9lt-Taw .group-101-BG3 .forgot-password--fS7 {
  margin: 0rem 0.152rem 1.564rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forgot-password-CWb .auto-group-s4zu-YaT .auto-group-j9lt-Taw .group-101-BG3 .enter-the-email-address-associated-with-your-account-and-well-send-you-a-link-to-resetyourpassword-Mpj {
  margin: 0rem 0.052rem 2.508rem 0rem;
  max-width: 39.3rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3025;
  color: #000000;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.forgot-password-CWb .auto-group-s4zu-YaT .auto-group-j9lt-Taw .group-101-BG3 .email-1uH {
  margin: 0rem 33.952rem 0.557rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3025;
  color: #000000;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forgot-password-CWb .auto-group-s4zu-YaT .auto-group-j9lt-Taw .group-101-BG3 .auto-group-p3wd-8U7 {
  margin-bottom: 6.3813rem;
  box-sizing: border-box;
  padding: 4.176rem 1.552rem 0.907rem 1.8rem;
  width: 100%;
  background-color: #e8e8e8;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.forgot-password-CWb .auto-group-s4zu-YaT .auto-group-j9lt-Taw .group-101-BG3 .auto-group-p3wd-8U7 .line-7-rQ7 {
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
}
.forgot-password-CWb .auto-group-s4zu-YaT .auto-group-j9lt-Taw .group-101-BG3 .auto-group-dovo-nYf {
  margin: 0rem 12.552rem 0rem 10.7rem;
  width: calc(100% - 23.2519rem);
  height: 3.2454rem;
  position: relative;
  flex-shrink: 0;
}
.forgot-password-CWb .auto-group-s4zu-YaT .auto-group-j9lt-Taw .group-101-BG3 .auto-group-dovo-nYf .new-user--uNP {
  width: 12.8rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 0.0454rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3025;
  color: #000000;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.forgot-password-CWb .auto-group-s4zu-YaT .auto-group-j9lt-Taw .group-101-BG3 .auto-group-dovo-nYf .sign-up-pET {
  width: 8.7rem;
  height: 3.2rem;
  cursor: pointer;
  position: absolute;
  left: 12.6rem;
  top: 0;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3025;
  color: rgba(0, 67, 70, 0.8500000238);
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.forgot-password-CWb .auto-group-s4zu-YaT .auto-group-j9lt-Taw .rectangle-58-37D {
  width: 54rem;
  height: 94.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.forgot-password-CWb .group-106-ZrF {
  margin-top: 2.2rem;
  width: 6.5574rem;
  height: 8.7rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.forgot-password-CWb .group-106-ZrF .group-105-JYw {
  box-sizing: border-box;
  padding: 1.582rem 1.608rem 1.624rem 1.565rem;
  width: 6.5574rem;
  height: 6.6262rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-61-qiw.png');
}
.forgot-password-CWb .group-106-ZrF .group-105-JYw .vector-RdZ {
  width: 3.3845rem;
  height: 3.42rem;
  object-fit: contain;
  vertical-align: top;
}
.forgot-password-CWb .group-106-ZrF .home-9ZZ {
  width: 4.4rem;
  height: 2.1rem;
  position: absolute;
  left: 1.1rem;
  top: 6.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
}
